<mat-card class="mt-0 ml-2 float-right">
    <mat-card-title color="primary"><mat-icon class="h-100" color="primary">people</mat-icon>Friends</mat-card-title>
    <mat-divider></mat-divider>
    <mat-list>
        <mat-list-item>
            <button class="friends-mini-fab"  mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                <mat-icon>NT</mat-icon>
            </button>
            <a class="ml-2 mt-1 mb-1" href="#">Nick Torres</a>
        </mat-list-item><mat-list-item>
            <button class="friends-mini-fab"  mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                <mat-icon>NT</mat-icon>
            </button>
            <a class="ml-2 mt-1 mb-1" href="#">Jeffrey Saelee</a>
        </mat-list-item><mat-list-item>
            <button class="friends-mini-fab"  mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                <mat-icon>NT</mat-icon>
            </button>
            <a class="ml-2 mt-1 mb-1" href="#">Alejandro Zubillaga</a>
        </mat-list-item>
    </mat-list>
</mat-card>
