mat-card {
    float: left;
    padding-left: auto;
    padding-right: auto;
    width: 20%;
    overflow:hidden;
}

.friends-mini-fab {
    text-align: center;
}
mat-icon {
    font-size: medium;
    width:auto;
}