.landing-container {
    height: 50%;
    background-position: 100%;
    background-image: url('https://img.huffingtonpost.com/asset/604fc2f2260000cc17d854ff.jpeg?cache=htB0uiPrAE&ops=scalefit_720_noupscale&format=webp');
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-color: rgba(226, 226, 226, 0.918);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px #888888c4;
    padding-top: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow:scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

