.landing-container {
    height: 50%;
    background-position: 100%;
    background-image: url('https://img.huffingtonpost.com/asset/604fc2f2260000cc17d854ff.jpeg?cache=htB0uiPrAE&ops=scalefit_720_noupscale&format=webp');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow:scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

