::ng-deep :root {
    --primary-color: #3f51b5;
    --accent-color: #ff4081;
}

mat-toolbar {
    background-color: rgba(122, 117, 117, 0.253);
    width: 100%;
    justify-content: space-between;
}

a {
    font-size: large;
    padding-left: 5px;
    padding-right: 5px;
}
a:hover {
    color: #ff4081;
}

.logo-div {
    display: inline-block;
    height: 100%;
}

.logo {
    width:100%;
    
}

.loggedin-Nav {
    display: inline-block;
    float: right;
}

a {
    color: var(--primary-color);
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

.logo-insta {
    font-size:x-large;
    color: var(--accent-color);
}

.logo-face {
    font-size:x-large;
    color:  white;   
    padding-right: 10px;
}

