  <mat-toolbar>
    <span class="logo">
        <mat-icon>supervised_user_circle</mat-icon>
        <span class="logo-insta">Insta</span><span class="logo-face">Face</span>

        <button mat-button><mat-icon>subdirectory_arrow_right</mat-icon>Login</button>
        <button mat-button>Register</button>
        
        <div class="loggedin-Nav">
            <button mat-button>Profile</button>
            <button mat-button><mat-icon>subdirectory_arrow_left</mat-icon>Logout</button>
        </div>
    </span> 
  </mat-toolbar>
