mat-toolbar {
    background-color: rgba(122, 117, 117, 0.253);
    width: 100%;
    justify-content: space-between;
}

.logo-div {
    display: inline-block;
    height: 100%;
}

.logo {
    width:100%;
    
}

.loggedin-Nav {
    display: inline-block;
    float: right;
}

button {
    color: #0165E1;
    margin-left: 5px;
    margin-right: 5px;
}

button:hover {
    text-transform: uppercase;
    color:#FD1D1D;
}

.logo-insta {
    font-size:x-large;
    color: #FD1D1D;
}

.logo-face {
    font-size:x-large;
    color:  white;   
    padding-right: 10px;
}

