  <mat-toolbar color="primary" class='navbar'>
    <span class="logo">
        <div class="logo-div">
            <mat-icon>supervised_user_circle</mat-icon>
            <span class="logo-insta">Insta</span><span class="logo-face">Face</span>
        </div>

        <button mat-raised-button color="primary"><mat-icon color="basic">subdirectory_arrow_right</mat-icon>Login</button>
        <button mat-raised-button color="primary">Register</button>
        
        <div class="loggedin-Nav">
            <button mat-raised-button color="primary">Profile</button>
            <button mat-raised-button color="primary" routerLink="register"><mat-icon>subdirectory_arrow_left</mat-icon>Logout</button>
        </div>
    </span> 
  </mat-toolbar>
