<mat-card class="example-card mt-2" *ngFor="let item of feedItems">
	<mat-card-header>
		<mat-card-title>
		<a routerLink="/profile" mat-mini-fab color="primary">
			<mat-icon class="mat-typography mat-h2"
				>{{ item.firstName.charAt(0).toUpperCase() }}{{ item.lastName.charAt(0).toUpperCase() }}</mat-icon
			>
		</a> {{ item.firstName }} {{ item.lastName }}</mat-card-title>
	</mat-card-header>
	<mat-divider></mat-divider>
	<div class="align-self-center">
		<img
			src="{{ item.imgURL }}"
			class="img-fluid img-responsive center-block d-block mx-auto"
		/>
	</div>
	<mat-divider></mat-divider>
	<mat-card-content>
		<p>
			{{ item.message }}
		</p>
	</mat-card-content>
</mat-card>
