.navbar-brand {
  color:#fff !important;
}

.profile-photo {
  width:48px;
  height:auto;
}

.flex-menu {
  display:flex;
}

.flex-menu li:not(:last-child) {
  margin-right:40px;
}

mat-card {
  width: 78%;
}

a {
  text-decoration: none;
}