
<div class="row">
    <div class="column middle">
      <mat-card class='mt-3 mat-typography'>
        <mat-card-content>
        <mat-card-title>Profile</mat-card-title>
    
        <p class="title"> Kylian Mbappe</p>

        <img src="../../../assets/images/neymar.png" alt="image" width="100 px">
        
        <mat-card-subtitle>Professional Footballer</mat-card-subtitle>
    
    
      <mat-list class=mat-card-content>
        <dl>
          <dt>Team Associated with</dt>
          <dd>Paris Saint Germain</dd>
          <dt>Home Address</dt>
          <dd><Address>2150 W. 6th Ave, Suite F
            Broomfield, Colorado 80020</Address></dd>
          <dt>Nationality</dt>
          <dd>French</dd>
          <dt>Position Played</dt>
          <dd>Striker</dd>
        </dl>
      </mat-list>
    
    
      <button routerLink="#" mat-raised-button color="primary" type="submit" class="btn-block" style="width: 100px ;">
        Edit Info
      </button>
    <br>
        </mat-card-content>
    </mat-card>
  </div>
  
  



  <div class="column side">
    <mat-card class='mt-3 mat-typography' style='width : 200px'>
      <mat-card-content>
      <mat-card-title>Contact Me</mat-card-title>
  
      <div class="icon-bar">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <h5></h5>
        <a href="https://twitter.com/neymarvx_"  mat-raised-button color="primary"><i class="fa fa-twitter" ></i></a> 
        <br>
        <a href="#"  mat-raised-button color="primary"><i class="fa fa-linkedin"></i></a>
        <br>
        <a href="#"  mat-raised-button color="primary"><i class="fa fa-facebook"></i></a>
      </div>

      </mat-card-content>
  </mat-card>
  </div>

</div>




