mat-card {
    float: left;
    padding: auto;
    padding-left: auto;
    padding-right: auto;
    width: auto;
}

.friends-mini-fab {
    text-align: center;
}
mat-icon {
    font-size: medium;
    width:auto;
}


.mat-icon{
    border-radius: 20%;
}
  
  