<mat-card class="mat-card">
    <mat-card-title color="primary"><mat-icon class="h-100" color="primary">people</mat-icon>Friend Requests</mat-card-title>
    <mat-divider></mat-divider>
    <mat-list>
        <mat-list-item >
            <button class="friends-mini-fab"  mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                <mat-icon></mat-icon>
            </button> 
            <a class="ml-2 mt-1 mb-1" href="#"></a>
            <button class="mat-icon1" mat-icon-button >
                <mat-icon color="pink">check_circle</mat-icon>
            </button>
            <button class="mat-icon2" mat-icon-button >
                <mat-icon>remove_circle</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</mat-card>



