<form class="form" #postForm='ngForm' (ngSubmit)="onSubmitHandler(postForm.value)">
	<mat-card-header class="d-flex justify-content-center">
		<mat-card-title>Create Post</mat-card-title>
	</mat-card-header>
	<mat-divider></mat-divider>
	<div class="row d-flex align-items-center">
		<button mat-mini-fab color="primary" class="m-2">
			<mat-icon class="mat-typography mat-h2"
				>{{ firstName.charAt(0) }}{{ lastName.charAt(0) }}</mat-icon
			>
		</button>
		<h2 class="m-0">{{ firstName }} {{ lastName }}</h2>
	</div>
	<mat-card-content>
		<mat-form-field class="form-full-width" appearance="fill">
			<mat-label>What's on your mind?</mat-label>
			<textarea
				ngModel
				#text='ngModel'
				name="message"
				matInput
				cdkTextareaAutosize
				style="min-height: 100px"
			></textarea>
		</mat-form-field>
		<div class="d-flex">
			<button mat-raised-button color="primary" type="submit" class="btn-block">Post</button>
			<input name='postPhoto' hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" />
			<button class="ml-1" type="button" mat-mini-fab (click)="fileInput.click()">
				<mat-icon>add_a_photo</mat-icon>
			</button>
		</div>
	</mat-card-content>
</form>
