<form class="form" #postForm="ngForm" (ngSubmit)="onSubmitHandler()">
	<mat-card-header class="d-flex justify-content-center">
		<mat-card-title>Create Post</mat-card-title>
	</mat-card-header>
	<mat-divider></mat-divider>
	<div class="row d-flex align-items-center">
		<button mat-mini-fab color="primary" class="m-2">
			<mat-icon class="mat-typography mat-h2">{{ user.firstName.charAt(0).toUpperCase() }}{{ user.lastName.charAt(0).toUpperCase() }}</mat-icon>
		</button>
		<h2 class="m-0">{{ user.firstName }} {{ user.lastName }}</h2>
	</div>
	<mat-card-content>
		<mat-form-field appearance="standard" class="input-fields form-full-width">
			<mat-label>Image Link</mat-label>
			<input matInput [(ngModel)]='post.imgURL' name="postImg"/>
		</mat-form-field>
		<mat-checkbox [(ngModel)]='post.privacy' name='privacy'>Public</mat-checkbox>
		<mat-form-field class="form-full-width" appearance="fill">
			<mat-label>What's on your mind?</mat-label>
			<textarea
				[(ngModel)]='post.message'
				name="message"
				matInput
				cdkTextareaAutosize
				style="min-height: 100px"
			></textarea>
		</mat-form-field>
		<div class="d-flex">
			<button mat-raised-button color="primary" type="submit" class="btn-block">Post</button>
		</div>
	</mat-card-content>
</form>
