
<mat-tab-group class="mt-2 bg-light">
    <!-- Global feeds -->
    <mat-tab label="All Feeds" *ngIf="filterLoaded | async">
        <mat-card class="example-card mt-2" *ngFor="let item of allFeedItems">
            <mat-card-header>
                <mat-card-title>
                <button mat-mini-fab color="primary">
                    <mat-icon class="mat-typography mat-h2"
                        >{{ item.firstName.charAt(0).toUpperCase()  }}{{ item.lastName.charAt(0).toUpperCase()}}</mat-icon
                    >
                </button> {{ item.firstName  }} {{ item.lastName }}</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div class="align-self-center">
                <img
                    src="{{ item.imgURL }}"
                    class="img-fluid img-responsive center-block d-block mx-auto"
                />
            </div>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p>
                    {{ item.message }}
                </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <!-- friend feeds -->
    <mat-tab color="primary" label="Friends Feeds" dynamicHeight> 
        

    </mat-tab>
    <!-- user feeds -->
    <mat-tab color="primary" label="Your Feeds" dynamicHeight>
        <mat-card class="example-card mt-2" *ngFor="let item of yourFeedItems">
            <mat-card-header>
                <mat-card-title>
                <button mat-mini-fab color="primary">
                    <mat-icon class="mat-typography mat-h2"
                        >{{ item.firstName.charAt(0).toUpperCase() }}{{ item.lastName.charAt(0).toUpperCase() }}</mat-icon
                    >
                </button> {{ item.firstName }} {{ item.lastName }}</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div class="align-self-center">
                <img
                    src="{{ item.imgURL }}"
                    class="img-fluid img-responsive center-block d-block mx-auto"
                />
            </div>
            <mat-divider></mat-divider>
            <mat-card-content>
                <p>
                    {{ item.message }}
                </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    
</mat-tab-group>




